---
import ProjectCard from "~/components/card/ProjectCard.astro";
import ViewAllButton from "~/components/ViewAllButton.astro";
import type { Project } from "~/models/project.ts";

interface Props {
	projects: Project[];
	title: string;
	description: string;
	seeMoreUrl?: string | null | undefined;
}

const { projects, title, description, seeMoreUrl } = Astro.props;
---

<section class="py-4 md:py-8 px-2 md:px-8">
	<h2 data-anime id={title.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '') + '-heading'} class="text-2xl font-bold font-display text-pink-950 tracking-wide pt-2">
		{title}
	</h2>
	<p data-anime class="text-xs md:text-base font-body text-pink-950/70 pt-2 pb-4">
		{description}
	</p>
	<div
		class="relative grid grid-cols-[repeat(auto-fill,minmax(16rem,1fr))] gap-3 pb-4 card-tilt-odd"
	>
		{
			projects.map((project) => {
				return (
					<div data-anime>
						<ProjectCard
							slug={project.id}
							title={project.data.title}
							description={project.data.description}
							href={`/projects/${project.id}`}
							stack={project.data.stack}
							hasImage={project.data.hasImage}
						/>
					</div>
				)
			})
		}
	</div>
	{
		typeof seeMoreUrl === "string" && (
			<div data-anime>
				<ViewAllButton
					href={seeMoreUrl}
					label="View all projects"
					ariaLabel="View all projects"
				/>
			</div>
		)
	}
</section>
